<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SevProjectDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.SevProject">
        <id column="pro_id" property="proId" />
        <result column="pro_name" property="proName" />
        <result column="price" property="price" />
        <result column="ser_time" property="serTime" />
        <result column="hig_price" property="higPrice" />
        <result column="pri_price" property="priPrice" />
        <result column="typeid" property="typeid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pro_id AS proId,
        pro_name AS proName,
        price,
        ser_time AS serTime,
        hig_price AS higPrice,
        pri_price AS priPrice,
        type.typename AS "type.typename"
    </sql>
    
    <sql id="reservationJoins">
        LEFT JOIN type ON type.typeid = a.typeid
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
           <include refid="Base_Column_List"/>
        FROM sev_project a
          <include refid="reservationJoins"/>
    </select>

    <select id="findType" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sev_project a
        <include refid="reservationJoins"/>
        WHERE a.typeid = #{id}
    </select>




</mapper>