<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Twenty Four</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="../../static/lib/bootstrap/css/bootstrap.css"
          th:href="@{/lib/bootstrap/css/bootstrap.css}"

          rel="stylesheet" media="screen" />
    <link href="../../static/lib/bootstrap/css/bootstrap-responsive.css"
          th:href="@{/lib/bootstrap/css/bootstrap-responsive.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/stylesheets/theme.css"
          th:href="@{/stylesheets/theme.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/lib/font-awesome/css/font-awesome.css"
          th:href="@{/lib/font-awesome/css/font-awesome.css}"
          rel="stylesheet" media="screen" />
    <script href="../../static/lib/jquery-1.8.1.min.js"
            th:href="@{/lib/jquery-1.8.1.min.js}"></script>

    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body>
<!--<![endif]-->

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">

                <!--<li id="fat-menu" class="dropdown">-->
                <!--<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">-->
                <i class="icon-user" th:text="${user.username}"></i>
                <button class="btn btn-primary"><i class="icon-off"></i> <a th:href="@{/logout}"> 注销</a></button>
                <b class="caret"></b></a>
                <!--<i class="icon-caret-down"></i>-->
                <!--</a>-->

                <!--<ul class="dropdown-menu">-->
                <!--<li><a tabindex="-1" href="#">Settings</a></li>-->
                <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                <!--<li><a tabindex="-1" href="@{/login/logout}">注销</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                </li>

            </ul>
            <a class="brand" ><span class="first">My</span> <span class="second">Beauty</span></a>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav">
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>服务项目</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in" th:each="type : ${types}">
                    <br>
                    <font size=4>       <a th:href="@{/sevProject/SelectByType(typeid=${type.typeid})}"><li th:text="${type.typename}">neo&nbsp&nbsp&nbsp&nbsp&nbsp</li></a>  </font>


                </ul>
                <div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-briefcase"></i>交易项目</div>
                <ul id="accounts-menu" class="nav nav-list collapse in">
                    <li ><a th:href="@{/transaction/toPhone}">新的交易</a></li>
                    <li ><a th:href="@{/transaction/toOrder}">查看订单</a></li>
                    <!--<li ><a th:href="@{/customer/toSelect}">查看消费者</a></li>-->
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/customer/list}">查看所有消费者用户</a></li>
                    <li ><a th:href="@{/transaction/Chart}">报表</a></li>
                </ul>

                <div></div>
                <!--<ul id="settings-menu" class="nav nav-list collapse in">-->
                    <!--<li ><a href="403.html">403 page</a></li>-->
                    <!--<li ><a href="404.html">404 page</a></li>-->
                    <!--<li ><a href="500.html">500 page</a></li>-->
                    <!--<li ><a href="503.html">503 page</a></li>-->
                <!--</ul>-->
               <div></div>
                <!--<div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>Legal</div>-->
                <!--&lt;!&ndash;<ul id="legal-menu" class="nav nav-list collapse in">&ndash;&gt;-->
                    <!--<li ><a href="privacy-policy.html">Privacy Policy</a></li>-->
                    <!--<li ><a href="terms-and-conditions.html">Terms and Conditions</a></li>-->
                <!--</ul>-->
            </div>
        </div>

        <div class="span9">
            <h1 class="page-title">消费者个人信息</h1>
            <div class="btn-toolbar">
                <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary"><i class="icon-save"></i><a th:href="@{/customer/toEdit}">修改</a></button>
                <div class="btn-group">
                    <button  class="btn btn-primary"><i class="icon-save"></i><a th:href="@{/setMeal/list}">购买套餐</a></button>

                </div>
            </div>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <form id="tab">
                            <label>姓名</label>
                            <input type="text" class="input-xlarge"  th:value="${session.customer.name}"  readonly="true"/>
                            <label>手机号</label>
                            <input type="text" class="input-xlarge" th:value="${session.customer.phone}"  readonly="true"/>
                            <label>生日</label>
                            <input type="text" class="input-xlarge" th:value="${session.customer.birth}"  readonly="true"/>
							<label>会员等级</label>
                            <input type="text" class="input-xlarge"  th:value="${session.customer.customerRole.getCustomerRoleName()}"      readonly="true"/>
                            <label>历史消费总额</label>
                            <input type="text" class="input-xlarge"  th:value="${session.customer.historyTotalPrice}" readonly="true"/>
                        </form>
                    </div>

                </div>

            </div>

            <h1>次卡信息</h1>
            <div class="well">

                <table class="table">
                    <thead>
                    <tr>
                        <th>服务名</th>
                        <th>次数</th>
                        <th style="width: 26px;"></th>
                        <th style="width: 26px;"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr  th:each="secondaryCard: ${session.secondaryCards}">


                        <td th:text="${secondaryCard.sevProject.proName}">neo</td>
                        <td th:text="${secondaryCard.count}">neo</td>


                    </tr>


                    </tbody>
                </table>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">

                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您是否确定删除该用户</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>

        </div>




    <footer>

    </footer>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script href="../static/lib/bootstrap/js/bootstrap.js"
            th:href="@{/lib/bootstrap/js/bootstrap.js}"></script>

    <script type="text/javascript">
        //修改品种名
        function addType() {
            var form = document.forms[0];
            form.action = "http://localhost:8080/demo/customer/add";
            form.method = "post";
            form.submit();
        }
    </script>



</div></div>
</body>
</html>


