<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CustomerDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Customer">
        <id column="customer_id" property="customerId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="birth" property="birth" />
        <result column="customer_role_id" property="customerRoleId" />
        <result column="history_total_price" property="historyTotalPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.customer_id AS customerId,
        a.customer_role_id AS customerRoleId,
        a.history_total_price AS historyTotalPrice,
        a.customer_id,
        a.name,
        a.phone,
        a.birth,
        a.customer_role_id,
        a.history_total_price,
        customer_role.customer_role_name AS "customerRole.customerRoleName"
    </sql>

    <sql id="reservationJoins">
        LEFT JOIN customer_role ON customer_role.customer_role_id = a.customer_role_id
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM customer a
        <include refid="reservationJoins"/>
    </select>

    <select id="findPhone" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM customer a
        <include refid="reservationJoins"/>
        WHERE a.phone = #{phone}
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM customer a
        <include refid="reservationJoins"/>
        WHERE a.customer_id = #{id}
    </select>


</mapper>
