<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SetMealSalesDetailDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.SetMealSalesDetail">
        <id column="set_meal_id" property="setMealId" />
        <result column="pro_id" property="proId" />
        <result column="total_count" property="totalCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.set_meal_id AS setMealId,
        a.pro_id AS proId,
        a.total_count AS totalCount,
        a.set_meal_id,
        a.pro_id,
        a.total_count,
        set_meal.set_meal_name AS "setMeal.setMealName",
        sev_project.pro_name AS "sevProject.proName"
    </sql>

    <sql id="reservationJoins">
        LEFT JOIN set_meal ON set_meal.set_meal_id = a.set_meal_id
        LEFT JOIN sev_project ON sev_project.pro_id = a.pro_id
    </sql>

    <select id="findSetMeal" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM set_meal_sales_detail a
        <include refid="reservationJoins"/>
        WHERE a.set_meal_id = #{id}
    </select>
</mapper>
