<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SetMealSalesDetailDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.SetMealSalesDetail">
        <id column="set_meal_id" property="setMealId" />
        <result column="pro_id" property="proId" />
        <result column="total_count" property="totalCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        set_meal_id AS setMealId, pro_id AS proId, total_count AS totalCount
    </sql>

</mapper>
